body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: red; 
    overflow-y: hidden;
    transition: 0.5s;
}
.dropdown-lists{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a{
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: rgb(175, 175, 175);
    display: inline;
    transition: 0.3s;
}

.dropdown a:hover, .dropdown a:focus {
    color: rgb(255, 255, 255);
}

.hamburger{
    color: #0e4749;
    left: 10px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
}
.hamburger:hover{
    color: #0e4749;
    opacity: 75%;
    transition: 0.75s;
    left: 10px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
}
.dropdown .buttonX {
    top: 20px;
    right: 50px;
    font-size: 70px;
    color: #73937e;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
    "header" "header"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "main" "main"
    "footer" "footer"
    "footer" "footer";
}

.header-index {
    grid-area: header;
    background-color: blue;
}

.header-image-index {
    display: grid;
    background-color: yellow;
    height: 120px;
    width: 98.9%;
    position: absolute;
    left: 7,5px;
    top: 73px;
}

.main-content {
    grid-area: main;
    background-color: lime;
}

.submain-left {
    display: grid;
    background-color: orchid;
    height: 7200px;
    width: 400px;
    right: 50px;
}

.quote-box-left {
    display: grid;
    background-color: maroon;
    height: 650px;
    width: 450px;
    position: absolute;
    right: 475px;
    top: 900px;
    border-top-right-radius: 30px;
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
}

.jan {
    display: grid;
    background-color: orangered;
    height: 275px;
    width: 275px;
    position: absolute;
    right: 90px;
    top: 75px;
}

.quote-box-right {
    display: grid;
    background-color: maroon;
    height: 650px;
    width: 450px;
    position: absolute;
    right: 100px;
    top: 6700px;
    border-top-left-radius: 30px;
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
}

.anna {
    display: grid;
    background-color: orangered;
    height: 275px;
    width: 275px;
    position: absolute;
    right: 90px;
    top: 75px;
}

.footer-index {
    grid-area: footer;
    background-color: yellow;
}

.footer-image-index {
    display: grid;
    background-color: goldenrod;
    height: 375px;
    width: 98.5%;
    position: absolute;
    right: 10px;
    top: 7795px;
}

/* Form */

.main-form {
    background-color: grey;
    width: 700px;
    height: 200%;
    position: absolute;
    top: 3750px;
    left: 575px;
    padding: 32px 20px;
}

.form-group {
    position: relative;
    margin-bottom: 28px;
}

.gt-input {
    width: 400px;
    height: 48px;
    padding: 0 20px;
    font-size: 20px;
    border: 0;
}

.gt-text {
    padding: 10px 20px;
    height: 100px;
    width: 100%;
}

.gt-input:focus {
    outline: none;
}

label {
    position: absolute;
    font-size: 18px;
    color: #aaa;
    transition: all .4s;
    top: 24px;
    transform: translateY(-50%);
    margin-left: 24px;
    cursor: text;
}

.gt-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 0;
    color: white;
    background: #00485a;
    transition: .4s;
}

.gt-button:hover {
    background-color: #01708b;
}

.form-status {
    padding: 8px;
    text-align: center;
    color: white;
    margin-top: 8px;
    margin-bottom: -24px;
}

.move-up {
    margin-top: -32px;
    margin-left: 0px;
    font-size: 14px;
    background: #ff0000;
    border-radius: 8px 0;
    color: white;
    padding: 4px 8px;
    min-width: 100px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}