body{
    font-family: 'Fira Code', monospace;    
}
.dropdown{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: red; 
    overflow-y: hidden;
    transition: 0.5s;
}
.dropdown-lists{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.dropdown a{
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: rgb(175, 175, 175);
    display: inline;
    transition: 0.3s;
}

.dropdown a:hover, .dropdown a:focus {
    color: rgb(255, 255, 255);
}

.hamburger{
    color: #0e4749;
    left: 10px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
}
.hamburger:hover{
    color: #0e4749;
    opacity: 75%;
    transition: 0.75s;
    left: 10px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
}
.dropdown .buttonX {
    top: 20px;
    right: 50px;
    font-size: 70px;
    color: #73937e;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}